/*-- раздел header --*/
.header header {
	background: #F4EFEF;
	width: 100%;
	height: 90px;
	border: 4px solid green;
	font: normal 32px Geneva, Arial, 'Times New Roman';
	text-align: center;
	color: green;
}
/*-- раздел nav --*/
ul.nav {
	margin-left: 5%; 
	padding-left: 0px;
	list-style: none;		
	border-bottom: 1px, dashed #000;
}
.nav li {
	display: inline;
	}
.nav a {
	display: inline-block;
	border: 1px, dashed #000;		
	border-bottom: none;
	padding: 5px 15px 5px 15px;
	background-color: #b1e0c7;		
	text-decoration: none;
	color: #333;
}
/*-- раздел article --*/
/* подраздел "характеристика системы" */
#adsorp h1{
	background: #cdeb8e;
}
ul.param {
	margin-left: 35%; 
	padding-left: 0px;
	list-style: none;		
	border-bottom: 1px, dashed #000;
}
/* подраздел "неисправности" */
#alarm  h1{	
	background: #febbbb;	
}
#alarm h2 {
	font: bold italic 16px Geneva, Arial, 'Times New Roman';
	text-align: center;
	color: red;
}
#alarm h3 {
	font: italic 16px Geneva, Arial, 'Times New Roman';
	text-align: center;
	color: #ff670f;
}
#alarm p {
	color: black;
	font: normal 14px Geneva, Arial, 'Times New Roman';
	text-align: left;
}
#alarm img {
	padding: 0% 0% 0% 25%;
        height: 350px;
	width: 300px;
}
#alarm01 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
#alarm02 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
#alarm03 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
#alarm04 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
#alarm04 p {
	background: #FFF932;
	text-align: center;
}
#alarm05 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
#alarm05 p {
	background: #FFF932;
	text-align: center;
}
#alarm06 img {
	padding: 0% 0% 0% 20%;
        height: 200px; 
	width: 400px;
}
/* */
.article article {
	margin-left: 5%;
	width: 70%;
}
.article img {
	border: 5px solid white;
}
.article h1 {
	background: #F4EFEF;
	color: black;
	font: bold 16px Geneva, Arial, 'Times New Roman';
	text-align: center;
}
.article p {
	color: black;
	font: normal 14px Geneva, Arial, 'Times New Roman';
	text-align: left;
}
/*-- раздел footer --*/
.footer footer {
	background: #c9de96;
	width: 100%;
	height: 25px;
	border: 4px solid green;
	font: normal 14px Geneva, Arial, 'Times New Roman';
	text-align: center;
	padding: 5px 0px 5px 0px;
	color: green;
}